
<!-- <!DOCTYPE html> -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta charset="utf-8">
	<title>RECEIPT</title>
	 <!-- <link rel="shortcut icon" href="logo2.png" /> -->

	<script src="/js/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" href="/css/main.css">

</head>


<body>

	<hr id="top_hr">
	<h1>GROCERY RECEIPT</h1>
	<div id = "viz"></div>
	
	<!-- library -->
	<script src="/js/d3.min.js"></script>
	<script src="/js/queue.min.js"></script>


	<!-- javascript -->
	<script src="/js/main.js"></script>


</body>
</html>

