<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="logo.png" />
	<title>AiReceipt</title>

	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />


	<link rel="stylesheet" type="text/css" href="page/jquery.pagepiling.css" />
	<link rel="stylesheet" type="text/css" href="examples2.css" />
	<link rel="stylesheet" type="text/css" href="viz.css" />


	<!-- // <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>

	<script type="text/javascript" src="page/jquery.pagepiling.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
	    	$('#pagepiling').pagepiling({
			    // sectionsColor: ['#bfda00', '#2ebe21', '#2C3E50', '#51bec4'],
			    // sectionsColor: ['#fff', 'rgba(246,246,246,1)', '#fff', '#fff'],
			    sectionsColor: ['#fff', '#58b946', '#fff', '#fff'],
			    navigation: {
			    	'position': 'right',
			   		'tooltips': ['About', 'How it works', 'Demo', 'Pgae 4']
			   	}
			});
	    });
    </script>
</head>


<body>
	<div id="pagepiling">
	    <div class="section" id="section1">
	    	<h1>AiReceipt</h1>
	    	<img class="grocery" src="grocery3.png" />
			<p id="first_des">SMART GROCERY SHOPPING ON TAP</p>
			<p id="second_des">Fun and easy grocery shopping by bringing your receipt online</p>
			<br />
	    </div>

	    <div class="section" id="section2">
	    	<div class="intro">
	    		<h1 id="second_head">AiReceipt</h1>
	    		<img class="grocery2" src="grocery_long.png" />
				<div class="box b1">
					<img class="bImg" style="width:32px" src="pic1.png" /><br>
					Get a digital receipt on Tap
				</div>
				<div class="box b2">
					<img class="bImg" src="pic2.png" /><br>
					Socialize with your friends
				</div>
				<div class="box b3">
					<img class="bImg" style="width:36px" src="pic3.png" /><br>
					Know more about how you shop
				</div>
				<div class="box b4">
					<img class="bImg" style="width:30px" src="pic4.png" /><br>
					Win awesome rewards
				</div>
	    	</div>
	    </div>
	    
	    <div class="section" id="section4">
	    	<div class="intro">
	    		<h1>AiReceipt</h1>

	    		<h2>| Your Grocery Shopping Behavior</h2>

				<div id="mode_viz"  onclick="showViz()" > </div>
				<div id="mode_map" onclick="showMap()" > </div>

<!-- 	    		<input type="button" id="mode_viz"  onclick="showViz()" >
				<input type="button" id="mode_map" onclick="showMap()"  style="margin-left:6px"> -->

	    		<form>
	    			<input type="button" id="mode_stack" value="By Date" onclick="transitionStacked()" class="btn">

					<input type="button" id="mode_multiples" value="By Categories" onclick="transitionMultiples()" class="btn" style="margin-left:6px">

<!-- 	    			<label><input type="radio" name="mode" value="stacked"> By date</label>
					<label style="margin-left:30px"><input type="radio" name="mode" value="multiples" checked> By categories</label> -->
				</form>




				<div id = "map"></div>



	    		<div id = "viz"></div>
	    		<div id = "viz2">
	    			<div id="total_name">Total Spending</div>
	    			<div id = "total"> $420 </div>
	    			<div id = "subTotal">$100</div>
	    		</div>
	    		<div id = "viz3"></div>
				<!-- <p>But back button won't work!</p> -->
	    	</div>
	    </div>
	</div>


	<!-- library -->
	<script src="/js/d3.min.js"></script>
	<script src="/js/queue.min.js"></script>

	<!-- javascript -->
	<script src="/js/map.js"></script>
	<script src="/js/main3.js"></script>
	<script src="/js/main4.js"></script>


</body>
</html>
