<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="logo.png" />
	<title>AiReceipt</title>
	<!-- <meta name="author" content="Alvaro Trigo Lopez" /> -->
	<!-- <meta name="description" content="pagePiling.js plugin by Alvaro Trigo." /> -->
	<!-- <meta name="keywords"  content="pile,piling,piling.js,stack,pages,scrolling,stacking,touch,fullpile,scroll,plugin,jquery" /> -->
	<!-- <meta name="Resource-type" content="Document" /> -->

	<!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700" /> -->
	<link rel="stylesheet" type="text/css" href="page/jquery.pagepiling.css" />
	<link rel="stylesheet" type="text/css" href="examples2.css" />

	<!-- // <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>

	<script type="text/javascript" src="page/jquery.pagepiling.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
	    	$('#pagepiling').pagepiling({
			    // sectionsColor: ['#bfda00', '#2ebe21', '#2C3E50', '#51bec4'],
			    // sectionsColor: ['#fff', 'rgba(246,246,246,1)', '#fff', '#fff'],
			    sectionsColor: ['#fff', '#fff', '#fff', '#fff'],
			    navigation: {
			    	'position': 'right',
			   		'tooltips': ['Page 1', 'Page 2', 'Page 3', 'Pgae 4']
			   	}
			});
	    });
    </script>
</head>
<body>
	<div id="pagepiling">
	    <div class="section" id="section1">
	    	<h1>AiReceipt</h1>
	    	<img class="grocery" src="grocery3.png" />
			<p id="first_des">SMART GROCERY SHOPPING ON TAP</p>
			<p id="second_des">Fun and easy grocery shopping by bringing your receipt online</p>
			<br />
	    </div>

	    <div class="section" id="section2">
	    	<div class="intro">
	    		<h1>AiReceipt</h1>
	    		<img class="grocery2" src="grocery_long.png" />
				<div class="box b1">
					<img class="bImg" style="width:32px" src="n_pic1.png" /><br>
					Get a digital receipt on Tap
				</div>
				<div class="box b2">
					<img class="bImg" src="n_pic2.png" /><br>
					Socialize with your friends
				</div>
				<div class="box b3">
					<img class="bImg" style="width:36px" src="n_pic3.png" /><br>
					Know more about how you shop
				</div>
				<div class="box b4">
					<img class="bImg" style="width:30px" src="n_pic4.png" /><br>
					Win awesome rewards
				</div>
	    	</div>
	    </div>
	    
	    <div class="section" id="section4">
	    	<div class="intro">
	    		<h1>AiReceipt</h1>
				<p>But back button won't work!</p>
	    	</div>
	    </div>
	</div>

</body>
</html>
