@font-face {
	font-family: HelveticaNeue;
	src: url(HelveticaNeue-BoldCond.ttf);
}

@font-face {
	font-family: Neue;
	src: url(NeueHaasUnicaPro-Regular.ttf);
}

html {
	-webkit-font-smoothing: antialiased;
}

h1 {
	position: absolute;
	font-family: 'Neue', sans-serif;
	top: 28px;
	font-size: 0.7em;
	letter-spacing: 8px;
	font-weight: 400;

	width: 100px;
	left: 50%;
	margin-left: -50px;
}

#second_head {
	color: white;
}

#first_des {
	position: absolute;
	font-family: 'HelveticaNeue', sans-serif !important;
	font-weight: 600;
	font-size: 2.8em;
	width: 410px;

	left: 50%;
	margin-left: 0%;
	bottom: 50%;
	margin-bottom: -30px;
}

#second_des {
	position: absolute;
	font-family: 'Neue', sans-serif !important;
	font-weight: 400;
	font-size: 0.9em;
	width: 350px;

	left: 50%;
	margin-left: 0%;
	bottom: 50%;
	margin-bottom: -90px;
}

/* section 2 */
.box {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	width:140px;
	margin-left: -70px; 
	height: 160px;
	font-family: 'HelveticaNeue', sans-serif;
	font-size: 0.96em;
	text-align: center;
	border: 1px solid rgba(255,255,255,0.6);
	padding: 20px;
	color: rgba(255,255,255,0.8);
}

.b1 { left: 20%; }
.b2 { left: 40%; }
.b3 { left: 60%; }
.b4 { left: 80%; }

.bImg {
	width: 40px;
	padding: 24px;
	padding-top: 30px;
	opacity: 0.9;
}

/* image */
.grocery {
	position: absolute;
	right: 50%;
	bottom: 50%;
	margin-bottom: -260px;
	margin-right: 5%;
}

.grocery2 {
	position: absolute;
	width: 440px;
	right: 50%;
	margin-right: -230px;
	top: 21.2%;
}
