text {
  font: 10px 'HelveticaNeue';
}

.axis path {
  margin-top: 10px;
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.group-label {
  font-size: 11px;
  font-weight: 300;
  z-index: 100;
  letter-spacing: 1px;
}

form {
  font-family: 'Neue', sans-serif !important;
  position: absolute;
  right: 10%;
  margin-left: 0px;
  bottom: 80%;
  margin-bottom: 15px;
  line-height: 180%;
  font-size: 14px;
}

#viz {
  position: absolute;
  width: 50%;
  height: 70%;
  top: 20%;
  margin-top: 0px;
  left: 10%;
  border-top: 1px solid rgba(0,0,0,0.6);

  visibility: hidden;
}

#viz2 {
  position: absolute;
  width: 25%;
  
  top: 20%;
  height: 20%;
  right: 10%;
  border-top: 1px solid rgba(0,0,0,0.6);


}

#map {

  position: absolute;
  width: 50%;
  height: 70%;
  top: 20%;
  margin-top: 0px;
  left: 10%;
  border-top: 1px solid rgba(0,0,0,0.6);
}

#total {

  /*font-family: 'HelveticaNeue', sans-serif !important;*/
  font-family: 'Neue', sans-serif;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 1px;

  position: absolute;
  left: 0px;
  bottom: 32%;
}

#total_name {
  padding-top: 15px;
  font-family: 'Neue', sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  text-align: right;
  /*font-size: 1em !important;*/
}

#subTotal {
  font-family: 'Neue', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: #58b946;
  position: absolute;
  right: 0px;
  bottom: 32%;
  visibility: hidden;
}

#viz3 {
  position: absolute;
  width: 25%;
  
  top: 40%;
  height: 50%;
  right: 10%;
  border-top: 1px solid rgba(0,0,0,0.6);
  
  display: block;
  overflow: scroll;
  z-index: 100;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

#tooltip {   
  position: absolute;
  z-index: 100; 
  font-family: 'Neue', sans-serif;
  text-align: center;
  padding: 8px;  
  padding-left: 14px;
  padding-right: 14px;     
  font-size: 11px;
  border: 1px;
  border-radius: 12px;
  pointer-events: none;
  color: #fff;

  font-weight: 600;
  background-color: rgba(0,0,0,0.82);
  visibility: hidden;
  letter-spacing: 1px;
  display: inline-block;
}

#tooltip:first-letter {   
  text-transform: uppercase;
}

.btn {
  font-family: 'HelveticaNeue', sans-serif;
  padding: 6px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  font-size: 10px;
  color: black;
  border: 1px solid rgba(0,0,0,0.4);
  background-color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:active { outline: none; }
.btn:focus { outline: 0; }



