text {
  font: 10px 'HelveticaNeue';
}

.axis path {
  margin-top: 10px;
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.group-label {
  font-weight: bold;
  text-anchor: end;
}

form {
  font-family: 'Neue', sans-serif !important;
  position: absolute;
  /*width: 240px;*/
  left: 10%;
  margin-left: 60px;
  top: 15%;
  line-height: 180%;
  font-size: 14px;
}

#viz {

  position: absolute;
  width: 50%;
  height: 70%;
  top: 20%;
  left: 10%;
  border: 1px solid rgba(0,0,0,0.1);
}

#tooltip {   
  position: absolute;
  z-index: 100; 
  font-family: 'HelveticaNeue', sans-serif;
  /*position: relative;*/
  text-align: center;
  padding: 10px;       
  font-size: 0.8em;
  border: 1px;
  border-radius: 4px;
  pointer-events: none;
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  visibility: hidden;
  text-transform: uppercase;
  /*font-family: Georgia, Arial, Helvetica, sans-serif !important;*/
}
